body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(237, 219, 180);
}
h1{
  text-align: center;
}

h2{
  text-align: center;
  font-size: 5rem;
  line-height: 50vh;
}
.col{
  color: rgb(228, 92, 115);
}